.page-content {
  box-sizing: border-box;
  color: rgb(29, 31, 44);
  display: block;
  font-family: Cabin, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 2142.17px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: start;
  text-size-adjust: 100%;
  width: 727px;
}

