<div class="elementor-element elementor-element-257ebbc e-flex e-con-boxed e-con e-parent">
  <div class=e-con-inner>
    <div class="elementor-element elementor-element-8dd5199 elementor-widget elementor-widget-heading">
        <h1 class="elementor-heading-title elementor-size-default">
          Partnering with Schools
        </h1>
    </div>
    <div class="elementor-element elementor-element-e327f5c elementor-widget elementor-widget-heading">
        <h2 class="elementor-heading-title elementor-size-default">
          Bringing STEM Learning into the Classroom
        </h2>
    </div>
    <div class="elementor-element elementor-element-70c6b7a elementor-widget elementor-widget-text-editor" >
        <p>We work closely with schools to offer morning and after-school clubs, workshops, and curriculum-based sessions. If your school is interested in integrating coding and robotics into extracurricular activities, we’d love to collaborate!</p>
    </div>
    <div class="elementor-element elementor-element-6a76f67 elementor-mobile-align-center elementor-laptop-align-center elementor-align-center elementor-widget elementor-widget-button">
        <div class=elementor-button-wrapper>
<a class="elementor-button elementor-button-link elementor-size-sm" href="{{ get_url(path="/contact/") }}" target=_blank>
            <span class=elementor-button-content-wrapper>
              <span class=elementor-button-text>
                Get In Touch
              </span>
            </span>
          </a>
        </div>
    </div>
  </div>
</div>
