<div class="elementor-11">
  <div class="elementor-element elementor-element-88d81a3 e-flex e-con-boxed e-con e-parent e-lazyloaded">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-6af3fad elementor-widget elementor-widget-heading">
          <div class="elementor-widget-container">
              <p class="elementor-heading-title elementor-size-default">
                Our Classes &amp; Activities
              </p>
          </div>
        </div>
        <div class="elementor-element elementor-element-09c6fd7 elementor-widget elementor-widget-heading">
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              Exciting, Hands-On STEM Learning for Kids!
            </h2>
          </div>
        </div>
        <div class="elementor-element elementor-element-7a52c53 elementor-widget elementor-widget-text-editor" data-id="7a52c53" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
              <p>At The Kids-Hub, we offer a variety of STEM-based activities, helping children develop key tech skills while having fun:</p>
          </div>
        </div>
        <div class="elementor-element elementor-element-8605a6c e-con-full e-flex e-con e-child" data-id="8605a6c" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-6074262 e-grid e-con-full e-con e-child" data-id="6074262" data-element_type="container" data-e-type="container">
              <div class="elementor-element elementor-element-e7bc59c elementor-cta--layout-image-left elementor-cta--valign-top elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="e7bc59c" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
                <div class="elementor-widget-container">
                    <div class="elementor-cta">
                      <div class="elementor-cta__bg-wrapper">
                          <div
                            class="elementor-cta__bg elementor-bg" 
                            style="background-image: url({{ get_url(path="/images/The-Kids-Hub-Coding-Club-Newcastle-13-1024x694.webp") }});"
                            role="img"
                            aria-label="The Kids-Hub - Coding Club Newcastle - 13"
                          >
                          </div>
                          <div class="elementor-cta__bg-overlay"></div>
                      </div>
                      <div class="elementor-cta__content">
                          <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                            LEGO Education Coding
                          </h2>
                          <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                            Children build and program interactive LEGO models, incorporating motors and sensors to develop essential coding and engineering skills. Programmable drones coming soon!	
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-bfbeb13 elementor-cta--layout-image-left elementor-cta--valign-top elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="bfbeb13" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
                <div class="elementor-widget-container">
                    <div class="elementor-cta">
                      <div class="elementor-cta__bg-wrapper">
                          <div
                            class="elementor-cta__bg elementor-bg"
                            style="background-image: url({{ get_url(path="/images/The-Kids-Hub-Coding-Club-Newcastle-15.webp") }});"
                            role="img"
                            aria-label="The Kids-Hub - Coding Club Newcastle - 15"
                          >
                          </div>
                          <div class="elementor-cta__bg-overlay"></div>
                      </div>
                      <div class="elementor-cta__content">
                          <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                            Robotics Challenges	
                          </h2>
                          <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                            Kids engage in hands-on robot-building and battlebot competitions, developing teamwork, logical thinking, and problem-solving abilities.	
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-763cbb4 elementor-cta--layout-image-left elementor-cta--valign-top elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="763cbb4" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
                <div class="elementor-widget-container">
                    <div class="elementor-cta">
                      <div class="elementor-cta__bg-wrapper">
                          <div
                            class="elementor-cta__bg elementor-bg"
                            style="background-image: url({{ get_url(path="/images/The-Kids-Hub-Coding-Club-Newcastle-12-1024x694.webp") }});"
                            role="img"
                            aria-label="The Kids-Hub - Coding Club Newcastle - 12"
                          >
                          </div>
                          <div class="elementor-cta__bg-overlay"></div>
                      </div>
                      <div class="elementor-cta__content">
                          <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                            Birthday Parties
                          </h2>
                          <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                            Celebrate with a unique STEM-themed party where children can build, code, and interact with fun robotics and coding projects.	
                          </div>
                          <div class="elementor-cta__button-wrapper elementor-cta__content-item elementor-content-item ">
                              <a class="elementor-cta__button elementor-button elementor-size-" href="{{ get_url(path="/contact") }}">
                                Get In Touch To Arrange
                              </a>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-7eb3eee elementor-cta--layout-image-left elementor-cta--valign-top elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="7eb3eee" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
                <div class="elementor-widget-container">
                    <div class="elementor-cta">
                      <div class="elementor-cta__bg-wrapper">
                          <div
                            class="elementor-cta__bg elementor-bg"
                            style="background-image: url({{ get_url(path="/images/The-Kids-Hub-Coding-Club-Newcastle-11-1024x694.webp") }});"
                            role="img"
                            aria-label="The Kids-Hub - Coding Club Newcastle - 11"
                          >
                          </div>
                          <div class="elementor-cta__bg-overlay"></div>
                      </div>
                      <div class="elementor-cta__content">
                          <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                            Morning &amp; After School Clubs
                          </h2>
                          <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                            Structured coding sessions designed to help children strengthen their computational thinking and hands-on programming skills.
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-5eb5cff e-grid e-con-full e-con e-child" data-id="5eb5cff" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-ddb86e6 elementor-cta--layout-image-above elementor-cta--valign-middle elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="ddb86e6" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
              <div class="elementor-widget-container">
                <div class="elementor-cta">
                    <div class="elementor-cta__content">
                      <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                          Secure Your Spot Today!	
                      </h2>
                      <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                          Whether you're looking for a weekly coding club, a holiday workshop, or a unique birthday party experience, The Kids-Hub has something for everyone.	
                      </div>
                      <div class="elementor-cta__button-wrapper elementor-cta__content-item elementor-content-item ">
                          <a class="elementor-cta__button elementor-button elementor-size-" href="https://activities.bookpebble.co.uk/supplier/the-kids-hub-6fd03b60-cc12-4e77-b71c-6618b34c9769" target="_blank">
                            Book Now
                          </a>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="elementor-element elementor-element-c9bef5e elementor-cta--layout-image-above elementor-cta--valign-top elementor-cta--skin-classic elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in elementor-widget elementor-widget-call-to-action" data-id="c9bef5e" data-element_type="widget" data-e-type="widget" data-widget_type="call-to-action.default">
              <div class="elementor-widget-container">
                <div class="elementor-cta">
                    <div class="elementor-cta__content">
                      <h2 class="elementor-cta__title elementor-cta__content-item elementor-content-item">
                          Coding With Drones - Coming Soon!
                      </h2>
                      <div class="elementor-cta__description elementor-cta__content-item elementor-content-item">
                          Children will learn to code and control drones in exciting, interactive challenges that introduce flight technology and programming fundamentals.	
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
