<div class="elementor elementor-6">
  <div class="elementor-element elementor-element-8db99a5 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="8db99a5" data-element_type="container" data-e-type="container" id="join">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-f74f732 elementor-widget elementor-widget-heading" data-id="f74f732" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default">Join Our Team</h1>
          </div>
        </div>
        <div class="elementor-element elementor-element-ae7f11d elementor-widget elementor-widget-heading" data-id="ae7f11d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">Inspire the Next Generation with The Kids-Hub</h2>
          </div>
        </div>
        <div class="elementor-element elementor-element-c803e81 elementor-widget elementor-widget-text-editor" data-id="c803e81" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
              <p>We’re always looking for enthusiastic individuals who love STEM and working with children. If you’re passionate about inspiring young minds, we’d love to hear from you!</p>
          </div>
        </div>
        <div class="elementor-element elementor-element-9dccecd elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="9dccecd" data-element_type="widget" data-e-type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
          <div class="elementor-widget-container">
              <form class="elementor-form" method="post" name="Application Form" aria-label="Application Form" action="https://formspree.io/f/mykbrwyb">
                <div class="elementor-form-fields-wrapper elementor-labels-above">
                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50 elementor-field-required elementor-mark-required">
                      <input
                          type="text"
                          name="name"
                          id="form-field-name"
                          class="elementor-field elementor-size-sm elementor-field-textual"
                          placeholder="Name*"
                          required
                      >
                    </div>
                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required elementor-mark-required">
                      <input
                        type="email"
                        name="email"
                        id="form-field-email"
                        class="elementor-field elementor-size-sm elementor-field-textual"
                        placeholder="Email*"
                        required
                      >
                    </div>
                    <div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_9245d81 elementor-col-50 elementor-field-required elementor-mark-required">
                      <input
                        type="tel"
                        name="phone"
                        id="form-field-field_9245d81"
                        class="elementor-field elementor-size-sm elementor-field-textual"
                        placeholder="Phone Number*"
                        required
                        pattern="^[+]?[0-9]{9,12}$"
                        title="Only phone numbers are accepted."
                      >
                    </div>
                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_0ecd5ee elementor-col-50 elementor-field-required elementor-mark-required">
                      <input type="text" name="location" id="form-field-field_0ecd5ee" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Location*" required>
                    </div>
                    <div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100">
                      <textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="message" id="form-field-message" rows="4" placeholder="Message"></textarea>
                    </div>
                    <div class="elementor-field-type-upload elementor-field-group elementor-column elementor-field-group-field_5f9254d elementor-col-100 elementor-field-required elementor-mark-required">
                      <label for="form-field-field_5f9254d" class="elementor-field-label">
                      CV Upload	</label>
                      <input type="file" name="upload" id="form-field-field_5f9254d" class="elementor-field elementor-size-sm  elementor-upload-field">
                    </div>
                    <div class="elementor-field-type-acceptance elementor-field-group elementor-column elementor-field-group-field_6ac4275 elementor-col-100 elementor-field-required elementor-mark-required">
                      <div class="elementor-field-subgroup">
                          <span class="elementor-field-option">
                          <input type="checkbox" name="accept-join-us-terms" id="form-field-field_6ac4275" class="elementor-field elementor-size-sm  elementor-acceptance-field" required>
                          <label for="form-field-field_6ac4275">
                            This form collects personal information such as your name and email, 
                            together with the other data fields so we can later communicate with you appropriately.
                            By submitting this form, you agree to our 
                            <a href="{{ get_url(path="/privacy") }}" target="_blank">Privacy Policy</a>
                          </label>
                          </span>
                      </div>
                    </div>
                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-40 e-form__buttons">
                      <button class="elementor-button elementor-size-sm" type="submit">
                      <span class="elementor-button-content-wrapper">
                      <span class="elementor-button-text">Send</span>
                      </span>
                      </button>
                    </div>
                </div>
              </form>
          </div>
        </div>
    </div>
  </div>
</div>
