<div class="elementor-element elementor-element-56d90de e-con-full e-flex e-con e-child">
  <div class="elementor-element elementor-element-16a59fc elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu">
    <div class="elementor-widget-container">
      <nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
        <ul id="menu-1-16a59fc" class="elementor-nav-menu">
          {% for menu in config.extra.menu %}
            {% if menu.url != "/" and current_path is starting_with(menu.url) or current_path == "/" and menu.url == "/" %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-18">
              <a href="{{ get_url(path=menu.url) }}" aria-current="page" class="elementor-item elementor-item-active">
                {{ menu.name }}
              </a>
            </li>
            {% else %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-17">
              <a href="{{ get_url(path=menu.url) }}" class="elementor-item">
                {{ menu.name }}
              </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
      </nav>
      <div class="elementor-menu-toggle" role=button tabindex=0 aria-label="Menu Toggle" aria-expanded=false>
        <svg aria-hidden=true role=presentation class="elementor-menu-toggle__icon--open e-font-icon-svg e-eicon-menu-bar" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
          <path d="M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z"></path>
        </svg>
        <svg aria-hidden=true role=presentation class="elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
          <path d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z"></path>
        </svg>
      </div>
      <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden=true>
        <ul id="menu-2-16a59fc" class="elementor-nav-menu">
            {% for menu in config.extra.menu %}
              {% if menu.url != "/" and current_path is starting_with(menu.url) or current_path == "/" and menu.url == "/" %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-18">
                  <a href="{{ get_url(path=menu.url) }}" aria-current="page" class="elementor-item elementor-item-active" tabindex="2">
                    {{ menu.name }}
                  </a>
                </li>
              {% else %}
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-17">
                  <a href="{{ get_url(path=menu.url) }}" class="elementor-item" tabindex="1">
                    {{ menu.name }}
                  </a>
                </li>
              {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  (function() {
    const menuButton = document.querySelector(".elementor-widget-nav-menu")
    menuButton?.addEventListener("click", () => {
      const menu = document.querySelector(".elementor-menu-toggle")
      menu?.classList?.toggle("elementor-active")
    })
  })()
</script>
