{% set section = get_section(path="testimonials/_index.md") %}

<div class="elementor-element elementor-element-4839d78 e-con-full e-flex e-con e-child">
  <div class="elementor-element elementor-element-b24fd03 elementor-widget elementor-widget-heading">
    <div class=elementor-widget-container>
      <h1 class="elementor-heading-title elementor-size-default center-text">
        {{ section.title  }}
      </h1>
    </div>
  </div>
  <div class="elementor-element elementor-element-d811bd0 elementor-widget elementor-widget-heading">
    <div class=elementor-widget-container>
      <div class="elementor-heading-title elementor-size-default">
        {{ section.content | striptags }}
      </div>
    </div>
  </div>
  <div class="elementor-element elementor-element-fa1d8a5 elementor-testimonial--align-left elementor-testimonial--mobile-align-center elementor-testimonial--skin-default elementor-testimonial--layout-image_inline elementor-arrows-yes elementor-pagination-type-bullets elementor-widget elementor-widget-testimonial-carousel">
    <div class="glide">
      <div class="elementor-main-swiper swiper glide__track" data-glide-el="track">
        <div class="glide__slides">
          {% for page in section.pages %}
          <div class="swiper-slide glide__slide">
            <div class=elementor-testimonial>
              <div class=elementor-testimonial__content>
                <div class=elementor-testimonial__text>
                  {{ page.content | safe }}
                </div>
              </div>
              <div class=elementor-testimonial__footer>
                <cite class=elementor-testimonial__cite>
                  <span class=elementor-testimonial__name>
                    {{ page.description }}
                  </span>
                  <span class=elementor-testimonial__title>
                    {{ page.title | escape }}
                  </span>
                </cite>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div data-glide-el="controls">
          <div class="elementor-swiper-button elementor-swiper-button-prev" data-glide-dir="|<">
            <svg aria-hidden=true class="e-font-icon-svg e-eicon-chevron-left" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
              <path d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z"></path>
            </svg>
          </div>
          <div class="elementor-swiper-button elementor-swiper-button-next" data-glide-dir="|>">
            <svg aria-hidden=true class="e-font-icon-svg e-eicon-chevron-right" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
              <path d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
